<div id="background" class="flex0">
  <div class="bordered">
    <div class="flexcol">
      {{> "systems/wild-steppe/templates/shared/text_field.hbs" field="system.background" value=system.background label="wildsea.background"}}
      {{> "systems/wild-steppe/templates/shared/text_field.hbs" field="system.origin" value=system.origin label="wildsea.origin"}}
      {{> "systems/wild-steppe/templates/shared/text_field.hbs" field="system.post" value=system.post label="wildsea.post"}}
    </div>
  </div>
</div>
